body {
    background-color: #6576B1;
    
}

h1 {
    font-family: 'Stylish', sans-serif;
    font-size: 20px;
}

div {
    font-family: 'Stylish', sans-serif;
    font-size: 20px;
}

img {
    size: 10px;
}
